export SHELL=/bin/sh
export CURRENT_TIME=$(shell date --iso-8601=seconds)
export FORMATTED_CURRENT_TIME=$(shell echo "${CURRENT_TIME}" | sed -r 's/[:]+/-/g')
export COVER_FILE_NAME=${FORMATTED_CURRENT_TIME}.cov
export CGO_ENABLED=1